---
title: Deep Bio
---
<div class="content">
  <section class="hello-deepbio">
    <div class="contianer">
      <div class="text-container">
        <div class="page-title">Dig,</br>Deeper.</div>
      </div>
    </div>
  </section>
  <section class="whatwedo">
    <div class="contianer">
      <div class="text-container whatwedo-title">
        <div class="title">What We Do</div>
      </div>
      <div class="whatwedo-container container">
        <div class="image-container">
          <div class="content-box">
              <img src="{{site.baseurl}}/images/whatwedo-1.png" alt="wwd-1" id="wwd-1"/>
              <div class="image-desc-1">
                <div class="title"> Gather Data</div>
                <div class="detail">Our medical experts and engineers use</br>domain knowledge to curate the ideal dataset.</div>
              </div>
          </div>
        </div>
        <div class="image-container">
            <div class="content-box wwd-2">
                <img src="{{site.baseurl}}/images/whatwedo-2.png" alt="wwd-2" id="wwd-2"/>
                <div class="image-desc-2">
                  <div class="title"> Train AI</div>
                  <div class="detail">Our uniquely designed AI goes through many cycles of review until the highest performance standards are met.</div>
                </div>
            </div>
        </div>
        <div class="image-container">
          <div class="content-box wwd-3">
              <img src="{{site.baseurl}}/images/whatwedo-3.png" alt="wwd-3" id="wwd-3"/>
              <div class="image-desc-3">
                  <div class="title"> Deploy Service</div>
                  <div class="detail">The AI can be seamlessly integrated </br> to exsisting LIMS or be hosted on our DeepDx platform.</div>
              </div>
          </div>
            
        </div>
      </div>
    </div>
  </section>
  <section class="products">
    <div class="container">
      <div class="text-container">
        <div class="title">Products</div>
      </div>
      <div class="text-container production-intro">
        <p>
          Our first product line, DeepDx-Prostate, uses deep learning to recognize and/or localize acinar adenocarcinoma of the prostate in scanned, 
          H&E-stained histopathology slides. The deep learning model used for slide image analysis is trained using a myriad of slides containing highly varied patterns of benign and malignant tissue, 
          making it robust to variations introduced during slide preparation and scanning.
        </p>
      </div>
    </div>
    <div class="product-slider">
        <div class="product-item product-item-1" id="product-item-1">
          <div class="product-box">
            <div class="item-title">DeepDx-Prostate <span>Basic</span></div>
            <p>DeepDx-Prostate Basic is a slide viewer and a binary screening solution</br>
              that recognizes cancer in slides, allowing pathologists to concentrate</br>
              on cases with known malignancy.</p>
            <p> It enables pathologists to process more cases in less time </br>
              and reduces the risk of misdiagnosis due to mental fatigue accumulated</br>
              through long hours spent pouring over the eyepiece of a traditional microscope.</p>
          </div>
        </div>
        <div class="product-item product-item-2" id="product-item-2">
            <div class="product-box">
              <div class="item-title">DeepDx <span>Connect</span></div>
              <p>DeepDx-Prostate Connect is DeepDx-Prostate put on the web.</br>
                It has the same powerful AI and functionalities from DeepDx-Prostate Pro and</br>
                allows the controlled sharing of slides, discussions, and annotations</br>
                amongst medical experts, by streamlining communication</br>
                and lowering barriers that hinder cooperation.</p>
              <p> DeepDx-Prostate Connect is also supported on portable devices so that</br>
                users can contribute to the case regardless of their physical location.
              </p>
            </div>
        </div>
        <div class="product-item product-item-3" id="product-item-3">
            <div class="product-box">
              <div class="item-title">DeepDx-Prostate <span>Pro</span></div>
              <p>DeepDx-Prostate Pro distinguishes cancer severity,</br>
                coloring tissue regions based on Gleason pattern classification results</br>
                and suggests a Gleason score.</br>
                Users can also consult AI on hand-picked regions to obtain quick feedback</br>
                on slides with large areas of tissue.</p>
              <p>Pre-filled pathology reports are generated once slides are analyzed using the AI from DeepDx-Prostate.</br>
                Clinically significant information included in the pathology report includes:
              </p>
              <ul>
                <li>Gleason score</li>
                <li>Relative proportions of each Gleason pattern</li>
                <li>Percentage involvement of cancer in tissue</li>
                <li>Image samples representative of the cancer found in the slide</li>
              </ul>
            </div>
          </div>
    </div>
  </section>
  <section class="publications">
    <div class="container">
      <div class="text-container publication-title">
        <div class="title">Publications</div>
        {% assign pages = site.data.publications.size | divided_by: 2.0 | ceil %}
        <span class="publication-more--link">
          {% for i in (1..pages) %}
            {% if i == 1 %}
              <a class="pub-page-link active" id="page-link-{{i}}">{{i}}</a>
            {% else %}
            <a class="pub-page-link" id="page-link-{{i}}">{{i}}</a>
            {% endif %}
          {% endfor %}
        </span>
      </div>
      {% include publication-list.html publications = site.data.publications %}
    </div>
  </section>
</div>