---
title: All Events
description: Keep up with lastest events.
layout: event-list
---
<div class="text-container">
  {% if page.heading %}
  <p>{ page.heading }}{</p>
  {% elsif page.title and page.layout != 'archive' %}
    <div class="title">{{ page.title }}</div>
    {% if paginator.total_pages > 1 %}
    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
      <a class="cusInnerPage" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Next</a> 
      {% endif %}

      <!-- <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span> -->

      {% if paginator.next_page %}
      <a class="cusInnerPage" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Privious &raquo;</a> 
      {% endif %}
    </div>
    {% endif %}
  {% endif %}
</div>
<div class="text-container events-page">
    <ul class="blog-posts">
      {% include list-posts.html posts=paginator.posts %}
    </ul>

  </div>