
<div class="md-modal md-effect-12">
        <button class="md-close closebtn">&times;</button>
        <div id='schedule-modal' class="md-content container">  
            <h1>New Schedule</h1>
         
            <div>
                    <div class="container"> 
                       
                            <br/>
                            <br/>
                            <label class="field a-field a-field_a1 page__field wide">
                                <input id='schedule-institution' class="field__input a-field__input" placeholder="deepbio" required>
                                <span class="a-field__label-wrap">
                                  <span class="a-field__label">Institution</span>
                                </span>
                            </label>

                            <label class="field a-field a-field_a1 page__field wide">
                                    <input id='schedule-email' class="field__input a-field__input" placeholder="deep@email.com" required>
                                    <span class="a-field__label-wrap">
                                      <span class="a-field__label">Email</span>
                                    </span>
                            </label>

                            <label class="field a-field a-field_a1 page__field wide">
                                    <input  id='schedule-phone'class="field__input a-field__input" placeholder="01012341234" required>
                                    <span class="a-field__label-wrap">
                                      <span class="a-field__label">Phone</span>
                                    </span>
                            </label>

                            <div class="grid-container">
                                    <label  class="field a-field a-field_a1 page__field">
                                            <input  class="field__input a-field__input" placeholder=" " id='datetimepicker1' required>
                                            <span class="a-field__label-wrap">
                                              <span class="a-field__label">Start</span>
                                            </span>
                                    </label>
                                    <div></div>
                                    <label class="field a-field a-field_a1 page__field">
                                            <input  class="field__input a-field__input" placeholder=" " id='datetimepicker2' required>
                                            <span class="a-field__label-wrap">
                                              <span class="a-field__label">End</span>
                                            </span>
                                    </label>
                            </div>
                       
                            <br/>
                            <button id='new-schedule' class='submit-button'> Submit </button>
                         

                        
                    </div> 
            </div>
        </div>
</div>
    
<div class="md-overlay"></div>
