{% for post in include.posts %}
	<li class="blog-post">
		<div class="image-container">
			<img src="{{site.baseurl}}{{post.listImage}}" alt="event-img"/>
		</div>
		<div class="text-container">
				<div class="exhibition">Exhibition</div>
				<h2><a href="{{site.url}}/{{post.url}}">{{ post.title }}</a></h2>
				<div class="post-info">
					<div class="post-date">{{ post.period }}</div>
					<div class="post-place">{{ post.place }}</div>
				</div>
				<div class="post-detail">
					{{post.description}}
				</div>
		</div>
	</li>
{% endfor %}