{% assign page = 0 %}
{% assign cnt = 0 %}
{% for publication in include.publications %}
  {% assign cnt = cnt | plus: 1%}
  {% assign current_page = cnt | divided_by: 2.0 | ceil %}
  {% if current_page > page %}
  {% if current_page == 1 %}
      <div class="publications-page text-container show" id="publication-page-link-{{current_page}}">
  {% else %}
      </div>
      <div class="publications-page text-container" id="publication-page-link-{{current_page}}">
    {% endif %}
  {% assign page= page | plus: 1 %}
  {% endif %}
  <div class="text-container publication">
    <div class="abstract">
      <div class="text-container">
        <div class="header">Abstract:</div>
        <p>{{ publication.abstract }}</p>
        <div class="header">Keywords:</div>
        <p>{{ publication.keywords}}</p>
      </div>
    </div>
      <div class="publication-type">{{publication.type}}</div>
      <div class="publication-container">
        <div class="publication-info column">
          <div class="publication-title">{{publication.title}}</div>
          <div>
            <div class="publication-subtext">{{publication.journal}}</div>
            <div class="publication-subtext date">{{publication.date | date: "%B %-d, %Y" }}</div>
          </div>
        </div>

        <div class="publication-authors column">Authors:</br>{{publication.authors}}</div>
    </div>
  </div>
{% endfor %}