.container,
.text-container {
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

.header-container {
  max-width: 1500px !important;
  padding: 0;
}

.text-container {
  max-width: 1000px;
}
.company-name {
  height: 64.44px;
  img {
    width: 170px;
    height: 63.45px;
  }
  .logo {
    width: 170px;
    height: 63.45px;
    content: url("/images/logo-white.png");
  }
  .logo::before {
    width: 170px;
    height: 63.45px;
    content: url("/images/logo-white.png");
  }
}

.container {
  max-width: 1100px;

  &.max-container {
    max-width: 100%;
    padding: 0;
  }
}
.main-background {
  background-color: #d0d0d0;
}
.main-image {
  background-image: url("/images/main.jpg");
  background-size: cover;
  max-width: 1920px;
  margin: 0 auto;
  &.other {
    max-width: unset;
  }
}

header {
  color: #fff;
  padding: 19px 0;
  // background: $brand-color; /* Old browsers */
  // background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%) no-repeat $brand-color;

  a {
    color: #fff;
    text-decoration: none;
    z-index: 1;
    position: relative;

    &:hover {
      text-decoration: none;
    }
  }

  .company-name {
    font-size: 1.7em;
    line-height: 0;

    a {
      display: inline-block;
    }
  }
}

.hero {
  padding-top: 130px;
  padding-bottom: 190px;
  .text-container {
    line-height: 50px;
    h1 {
      font-size: 3.2em;
      color: #fff;
      font-weight: $bold;
      font-variant-ligatures: no-common-ligatures;
    }
  }
}

section {
  // padding: 100px 0;
}

section + section {
  margin-bottom: 100px;
}
