.nav-open nav {
  margin-top: 0;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  padding: 10px 0;

  a {
    display: block;
    letter-spacing: 1.5px;
  }
  .btn {
    border: 0;
    border-radius: 2px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0;
    font-size: 18px;
  }
  nav &,
  .btn {
    cursor: pointer;
    background-color: #f7e064;
    color: #333;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: #f4d525;
      color: #333;
    }
  }

  @media #{$mid-point} {
    border: 0;
    padding: 0 20px;

    a {
      display: inline;
    }
  }
}

nav {
  display: inline;
  text-transform: uppercase;
  font-size: 0.8em;
  width: 100%;
  line-height: 2;

  @media #{$mid-point} {
    text-align: right;
    position: absolute;
    top: 13px;
    right: 0;
    padding: 0 20px;
  }

  a {
    margin: 0 3px;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.8);
    transition: 0.2s ease-in-out;
    display: none;
    letter-spacing: 1.5px;

    @media #{$mid-point} {
      display: inline;
      padding: 10px;
    }

    &.nav-toggle {
      display: inline;
      position: absolute;
      right: 10px;
      top: -22px;
      font-size: 1.9em;
      border: 0;

      @media #{$mid-point} {
        display: none;
      }

      &:hover {
        border: 0;
      }
    }
  }

  a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
  }

  @media #{$mid-point} {
    a.highlight {
      border: 1px #ccc solid;
      border-radius: 5px;

      &:hover {
        background: #fff;
        color: $brand-color;
      }
    }
  }

  a.active {
    color: #fff;
  }
}

.nav.fixed,
.nav.fixed.other {
  width: 100%;
  left: 0;
  position: fixed;
  background: #fff;
  z-index: 3;
  .logo {
    content: url("/images/logo-color.png");
  }
  nav {
    a {
      color: #000000;
    }
    a:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      color: #000000;
    }
    a.active {
      color: $brand-color;
    }
  }
}
.nav.other {
  background: black;
  a.active {
    color: $brand-color;
  }
}
