.deepbio-slide-wrapper {
  width: 100%;
  overflow: hidden;
  .slide-show {
    width: 900%;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 0;
    img {
      width: 2.5%;
      height: 100%;
    }
    animation-name: photoslide;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: photoslide;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  }
}

@-webkit-keyframes photoslide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translate(-15%);
  }
}
@keyframes photoslide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translate(-15%);
  }
}
