.events {
  font-size: 0;
  @media #{$event-sec} {
    margin-bottom: 0;
  }
  @media #{$mobile} {
    margin-bottom: 100px;
  }
  .container {
    max-width: unset;
    padding: 0;
    min-height: 460px;
    max-height: 550px;
  }
  .event-pannel {
    width: 100%;
    display: inline-flex;
    max-height: 500px;
    // position: absolute;
    opacity: 1;
    .pannel-container {
      display: inline-flex;
      width: 100%;
    }
    .slide-wrapper {
      position: relative;
    }
    .text-container {
      font-size: 17px;
      width: 50%;
      padding: 70px 0 0 30px;
      .tag-event {
        @extend %menutitle;
        color: $brand-color;
      }
      h2 {
        font-size: 31px;
        font-weight: $bold;
        margin-bottom: 0;
      }
      .subtitle {
        margin-top: 0;
        font-size: 21px;
        font-weight: $regular;
        color: $black-color;
      }
      .subtext {
        font-family: $serif;
        font-size: 13px;
      }
      .meeting-link {
        color: $black-color;
        font-size: 13px;
        text-decoration: underline;
      }
    }
    .image-container {
      width: 50%;
      // display: none;
      img {
        height: 100%;
      }
      @media #{$mobile} {
        display: none;
      }
    }
    &.active {
      opacity: 1;
    }
    &.slide-in {
      -webkit-animation-name: slide-in;
      -webkit-animation-direction: 5s;
      -webkit-animation-timing-function: ease-in-out;
      animation-name: slide-in;
      animation-timing-function: ease-in-out;
      animation-duration: 5s;
    }
    &.slide-out {
      -webkit-animation-name: slide-out;
      -webkit-animation-direction: 5s;
      animation-name: slide-out;
      animation-timing-function: ease-in-out;
      animation-duration: 5s;
    }
  }
  #icon {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
}
