.deepbio-inc {
  padding: 0;
  @extend %menutitle;

  p {
    padding-left: 100px;
    @extend %pageserif;
    @media #{$mobile} {
      padding-left: 0;
    }
  }
  .image-container {
    margin: 40px 0;
  }
}
