.events {
  font-size: 0;
  @media #{$event-sec} {
    margin-bottom: 0;
  }
  @media #{$mobile} {
    margin-bottom: 100px;
  }
  .container {
    max-width: none;
    padding: 0;
    min-height: 460px;
    max-height: 550px;
  }
  .event-pannel {
    width: 100%;
    display: inline-flex;
    min-height: 500px;
    max-height: 500px;
    background-color: #f7f7f7;
    // position: absolute;
    opacity: 1;
    .pannel-container {
      display: inline-flex;
      min-height: 500px;
      width: 100%;
    }
    .slide-wrapper {
      position: relative;
    }
    .text-container {
      font-size: 17px;
      width: 50%;
      padding: 150px 0 0 30px;
      min-height: 500px;
      @media #{$event-sec} {
        padding: 10% 0 10% 2%;
      }
      background-color: #f7f7f7;
      .tag-event {
        @extend %menutitle;
        color: $brand-color;
      }
      h2 {
        font-size: 31px;
        font-weight: $bold;
        margin-bottom: 0;
      }
      .subtitle {
        margin-top: 0;
        font-size: 21px;
        font-weight: $regular;
        color: $black-color;
      }
      .subtext {
        font-family: $serif;
        font-size: 13px;
      }
      .meeting-link {
        color: $black-color;
        font-size: 13px;
        text-decoration: underline;
      }
    }
    .image-container {
      width: 50%;
      // display: none;
      img {
        height: 100%;
      }
      @media #{$mobile} {
        display: none;
      }
    }
  }
  #icon {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    .slick-dots li button:before {
      color: white;
    }
    .slick-dots li.slick-active button:before {
      color: white;
    }
  }
}
