.team-deepbio {
  .title {
    @extend %menutitle;
  }
  .team {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    @extend %flexbox;
    @include flex-flow(wrap);
    text-align: center;
    li {
      padding: 40px 20px 30px 20px;
      box-sizing: border-box;
      width: 100%;

      @media #{$tablet} {
        @include flex(1, 1, 45%);
      }

      @media #{$desktop} {
        @include flex(1, 1, 29%);
      }
    }
    .profile {
      text-align: left;
      .name {
        font-weight: $medium;
        font-size: 15px;
      }
      .position {
        font-family: $serif;
        font-weight: $regular;
        font-style: italic;
        font-size: 12px;
        color: $black-color;
      }
      .bio {
        @extend %pageserif;
        max-width: 350px;
        margin-top: 20px;
      }
    }
    .image-container {
      width: 100px;
      height: 100px;
      display: inline-flex;
      padding-left: 0;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        width: auto;
      }
      // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      // filter: grayscale(100%);
      .text-container {
        position: relative;
        min-width: 150px;
        .text-box {
          position: absolute;
          bottom: 0;
          .name {
            margin-bottom: 0;
          }
        }
      }
    }

    .name {
      font-size: 1.3em;
      margin-top: 20px;
    }

    .position {
      color: #666;
    }
  }
}
