.introduce {
  position: relative;
  background: lightgray;
  @media #{$front-width} {
    padding-bottom: 500px;
  }
  .flex {
    max-height: 850px;
  }
  .techs {
    @extend %flexbox;
    @include flex-flow(wrap);
    padding: 50px 0 30px 0;
    position: inherit;
    top: -120px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 1000px;
    .tech {
      background: #fff;
      list-style: none;
      padding: 0;
      margin: 0 10px 50px 10px;
      text-align: center;
      padding-bottom: 40px;
      // box-shadow: 0px 0px 10px #eee;
      width: 100%;
      .tech-image-1 {
        padding: 30px 60px 29px 60px;
        img {
          width: 200px;
          height: auto;
        }
      }
      .tech-image-2 {
        padding: 45px 30px 51px 30px;
        img {
          width: 200px;
          height: auto;
        }
      }
      .tech-image-3 {
        padding: 40px 30px 48px 30px;
        img {
          width: 200px;
          height: auto;
        }
      }
      .text-container {
        text-align: left;
        padding-bottom: 20px;
        .title {
          color: $brand-color;
          margin-bottom: 0;
          font-size: 17px;
          font-weight: $semibold;
        }
        .description {
          font-family: $serif;
          font-weight: $regular;
          line-height: 20px;
          font-size: 13px;
          margin-top: 4px;
        }
      }
      @media #{$desktop} {
        -webkit-flex: 1;
        flex: 1;
      }
    }
    @media #{$desktop} {
    }
  }
}
